.view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.view-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 16px;
  color: #666;
}

.placeholder-icon {
  font-size: 64px;
  opacity: 0.5;
}

.view-placeholder h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.view-placeholder p {
  margin: 0;
  font-size: 16px;
  opacity: 0.8;
}
